body {
	margin:0;
	padding:0;
    background-image:url("/images/background2.JPG");
    background-size:cover;
    background-repeat:repeat-y;
}
footer {
    font-family:Arial;
    font-size:1em;
    font-weight:bold;
    text-align:center;
    /*background-color:#eb8d1c;*/
    background-color:#696969;
    padding:8px;
	color:white;
}