body {
	margin:0;
	padding:0;
    background-image:url("/images/background.JPG");
    background-size:cover;
    background-repeat:repeat-y;
}
#container {
    margin:0 auto;
    width:950px;
    min-height:900px;
}
footer {
    font-family:Arial;
    font-size:1em;
    font-weight:bold;
    text-align:center;
    /*background-color:#eb8d1c;*/
    background-color:rgba(235,141,28,0.7);
    padding:8px;
}