body {
	margin:0;
	padding:0;
/*    background-image:url("../images/metalmesh.jpg");
    background-size:cover;
    background-repeat:repeat-y; */
	background-color:#708090;
}
footer {
    font-family:Arial;
    font-size:1em;
    font-weight:bold;
    text-align:center;
    /*background-color:#eb8d1c;*/
    background-color:#696969;
    padding:8px;
	color:white;
}
.content{
	background-color:#A9A9A9;
	border-radius:8px;
	border:solid black 1px;
	border-color:black;
}
#content{
	background-color:#A9A9A9;
	border-radius:8px;
	border:solid black 1px;
	border-color:black;
}